.header{
	height: 30px;
	display: inline-block;
}
.inline-block{
	display: inline-block;
	}
.navigation{
	text-decoration: none;
}
.ul{ 
	list-style: none;
 }
 .image{
 	width: : 10px;

 }
 .navigation-a{
 	display: inline-block;
 	margin: 20px;
 }